@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Clicker+Script&family=Playwrite+HR:wght@100..400&display=swap');

body {
  font-family: 'Times New Roman', Times, serif;
}

body,
html {
  overflow-x: hidden;
}

section {
  min-height: 90vh;
  padding-top: 120px;
  padding-bottom: 30px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: #f0f0f0;
  box-shadow: 1px 1px 10px 4px rgb(174, 174, 174);
}

.navbar {
  background-color: white;
}

.navbar-nav {
  margin: 0 auto;
}

.navbar-nav .nav-link {
  color: rgb(54, 241, 54);
  font-size: 25px;
}

.navbar-nav .nav-link:hover {
  color: rgb(183, 180, 180);
}

.cart-badge {
  position: absolute;
  top: 0;
  right: 0;
  background: #ef4444;
  color: #fff;
  font-size: 0.75rem;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-menu {
  width: 18rem;
}

.ms-3 {
  margin: 20px;
}

/* User Icon styling */
.user-avatar img {
  width: 2.5em;
  height: 2.5em;
}

.nav-item a {
  margin: 2px;
  font-size: 20px;
}

.dropdown-item:active {
  color: white;
  background-color: rgb(54, 241, 54);
  border-radius: 5px;
}

#logout:active,
label.form-label:active {
  color: white;
  background-color: rgb(54, 241, 54);
  border-radius: 5px;
}

/* Hero Section*/

.title {
  width: 100%;
  font-size: 2.5em;
  font-weight: bold;
  padding-top: 50px;
}

.title1 span,
.title2 span {
  color: rgb(54, 241, 54);
}

.title1 {
  font-size: 3em;
  font-weight: bold;
  padding-top: 40px;
  font-family: "Alex Brush", cursive;
}

.title2 {
  font-size: 2.65em;
  font-weight: bold;
  padding-top: 40px;
}

.button {
  cursor: pointer;
  padding: 8px  16px;
  color: #fff;
  border: 1px solid transparent;
  font-weight: 700;
  border-radius: 12px;
  font-size: 20px;
  transition: transform 0.3s;
  margin: 50px;
  background: rgb(54, 241, 54);
}

.button__icon {
  width: 1.5em;
  height: 1.5em;
}

.button:hover {
  border-color: #f4f5f2;
  background-color: rgb(183, 180, 180);
}

.button:active {
  transform: scale(0.98);
}

.header nav a {
  text-decoration: none;
  color: rgb(54, 241, 54);
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
}

.title3 {
  font-size: 2.75em;
  font-weight: bold;
  padding-bottom: 25px;
}

.product {
  color: red;
  font-size: 20px;
  padding-top: 50px;
}

.title3 span {
  color: rgb(54, 241, 54);
}

/*Testimonials*/

.testi {
  padding-top: 150px;
}

.testi h3 {
  font-size: 25px;
  color: red;
  font-weight: 500;
}

.testi h2 {
  font-size: 2.75em;
  font-weight: 700;
  padding-top: 15px;
}

.testi h2 span {
  color: rgb(54, 241, 54);
}

.testi h5 {
  font-size: 24px;
  font-weight: 500;
  padding-top: 15px;
}

.testi1 {
  display: flex;
  align-items: center;
}

.review h4 {
  color: red;
  font-weight: 500;
}

.review h6 {
  color: green;
  font-weight: 500;
}

/*Services*/

.services {
  padding-top: 75px;
}

.services h4 {
  font-size: 25px;
  color: red;
  font-weight: 500;
}

.services h2 {
  font-size: 2.75em;
  font-weight: 600;
  padding-top: 10px;
}

.services h2 span {
  color: rgb(54, 241, 54);
}

.services h5 {
  font-size: 23px;
  font-weight: 500;
  padding-top: 10px;
}

.services button {
  border: none;
  border-radius: 12px;
  color: white;
  font-size: 18px;
  background-color: rgb(54, 241, 54);
  padding: 8px 16px;
  margin: 15px 0px;
  transition: transform 2s;
}

.services button:hover {
  background-color: rgb(183, 180, 180);
}

.services button:active {
  transform: scale(0.8);
}

.card {
  border: 2px solid rgb(220, 216, 216);
  border-radius: 12px;
  padding: 10px;
  box-shadow: 1px 1px 10px 4px rgb(219, 218, 218);
}

.card h3 {
  font-size: 22px;
  color: rgb(54, 241, 54);
  font-weight: 500;
  padding-top: 10px;
}

.card h5 {
  font-size: 18px;
  color: green;
  font-weight: 500;
  padding-top: 10px;
}

.card:hover {
  border-color: rgb(246, 191, 191);
}

.text-reset {
  text-decoration: none;
}

.cards_content {
  height: 375px;
  border: 1px solid rgb(216, 215, 215);
  border-radius: 12px;
  transition: transform 2s;
  box-shadow: 1px 1px 10px 4px rgb(226, 225, 225);
}

.cards_content:hover{
  box-shadow: 1px 1px 10px 4px rgb(164, 163, 163);
  transform: scale(1.05);
}

.cards_content img {
  width: 100%;
  height: 225px;
  border-radius: 12px;
}

.cards_content1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.cards_content1 h5 {
  font-size: 20px;
  font-weight: 600;
  padding: 0;
}

.cards_content1 h6 {
  font-size: 20px;
  color: green;
}

.cards_content2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.cards_content2 h5 {
  font-size: 20px;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.cards_content2 button {
  background-color: rgb(54, 241, 54);
  color: white;
  font-size: 18px;
  padding: 8px 16px;
  border: none;
  border-radius: 12px;
}

.filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 600;
  cursor: pointer;
}

.filter button {
  color: rgb(54, 241, 54);
  list-style: none;
  padding: 25px 15px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
}

.filter button:hover {
  color: rgb(183, 180, 180);
}

/* Custom border-radius for modal */
.modal-content {
  border-radius: 20px !important;
  text-align: center;
  padding-top: 20px;
}

.modal-content h4 {
  color: rgb(183, 180, 180);
}

.img_1 {
  margin: 0 auto;
}

.modal-body {
  text-align: center;
  padding-top: 10px;
}

.modal-body h5 {
  color: rgb(183, 180, 180);
  font-size: 22px;
}

.modal-body h2 {
  color: rgb(54, 241, 54);

}


@media (max-width: 576px) {
  h2 {
      font-size: 2em;
  }
  
  h4 {
      font-size: 1em;
  }
  .pagination .page-item .page-link {
      padding: 5px 10px;
      margin: 15px 3px;
      font-size: 12px;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
  }

  .navbar-brand img {
    max-width: 150px;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav .nav-link {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .cart-badge {
    top: 5px;
    right: 5px;
  }

  .user-avatar img {
    width: 2em;
    height: 2em;
  }

  .title {
    font-size: 2em;
    padding-top: 100px;
  }

  .title1,
  .title2 {
    font-size: 2.5em;
  }

  .button {
    padding: 0.5em 1em;
    font-size: 0.9rem;
    margin: 40px;
  }

  #home img {
    max-width: 100%;
    height: auto;
    padding: 10px;
  }
  
  .testi {
    padding-top: 75px;
  }
  h2 {
    font-size: 2.5em;
}

h4 {
    font-size: 1.25em;
}

.pagination {
    text-align: center; 
}

}